[submodule ".janus"]
	path = .janus
	url = https://github.com/cobhimself/.janus.git
[submodule ".vim"]
	path = .vim
	url = https://github.com/carlhuda/janus.git
[submodule "closetag.vim"]
	path = closetag.vim
	url = https://github.com/docunext/closetag.vim.git
